.price-tag {
    font-family: "Roboto", sans-serif;
    position: absolute;
    z-index: 2;
    right: 0;
    min-width: 180px;
    min-height: 35px;

    text-align: center;
    line-height: 2.1rem;
    color: white;
    background-color: #FA5002;
    border-radius: 0px 10px 0px 35px;

    span {
        font-weight: bold;
    }
}