section {
    margin-top: 70px;

    .left-col {
        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 50px;
            /* or 119% */
            letter-spacing: 0.015em;
            text-transform: capitalize;
            color: #152C5B;

            margin-bottom: 1.9rem;
        }

        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            /* or 125% */

            letter-spacing: 0.049em;

            width: 457px;
            color: #a2a2a2;
            margin-bottom: 4.4rem;
        }

        .btn {
            padding: 11px 36px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height, or 125% */

            letter-spacing: 0.045rem;
            margin-bottom: 30px;

            &:hover {
                background: #152C5B;
            }
        }

        .thumb-info {
            height: 80px;

            &:nth-child(-n+2) {
                margin-right: 50px;
            }
        }
    }

    .right-col {
        padding-left: 30px;
        padding-right: 0;

        .image-hero {
            position: absolute;
            left: -7px;
            bottom: 40px;
            z-index: 1;
        }
    }
}