@import "../../../Assets/scss/colorVariables";

$size: 50px;
$color-base: $white;
$second-color: #640be9;
$checklist-color: #03ff0d;

ol.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: $size;
    height: $size;
    border-radius: $size;
    color: $white;

    &::after {
      position: absolute;
      content: "";
      z-index: 2;
      width: $size;
      height: $size;
      border-radius: $size;
      background-image: url('data:image/svg+xml;utf8,<svg width="32" height="28" viewBox="0 0 32 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 17.5L13 25L29 3" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $checklist-color;
      transform: scale(1);
      transition: 0.8s transform ease-in-out;
      box-shadow: 0px 2px 4px 1px rgba(21, 44, 91, 0.15);
    }

    &:not(:last-child) {
      margin-right: 75px;
      &::before {
        content: "";
        z-index: -2;
        top: 50%;
        left: 100%;
        position: absolute;
        width: 75px;
        height: 2px;
        background-color: #c7bdbd;
      }
    }

    &.active {
      font-weight: bold;
      font-size: 30px;
      background-color: $white;
      color: $second-color;
      line-height: $size;
      &::after {
        z-index: -1;
        background: $second-color;
        box-shadow: 0px 2px 4px 1px rgba(21, 44, 91, 0.15);
        transform: scale(1.2);
      }
      & ~ li {
        font-weight: bold;
        font-size: 30px;
        color: $second-color;
        background-color: $white;
        &::after {
          z-index: -1;
          background: $color-base;
          box-shadow: 0px 2px 4px 1px rgba(21, 44, 91, 0.15);
          transform: scale(1);
        }
      }
    }
  }
}
